<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Us </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,500i,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="dist/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
        <div class="container-fluid">
                <div class="container header-navigation">
                    <div class="row">
                        <div class="col-lg-3 col-6  order-1 d-flex align-items-center justify-content-start ">
                            <a href="index.html"><img src="../Inventive Media/Images/inventive_media_logo.png" alt="logo" height="64" width="153" class="logoImg"></a>
                        </div>
                        <div class="col-lg-5 col-12 navbar-wrapper order-2 d-flex justify-content-end">
                            
                          <nav class="navbar navbar-expand-lg navbar-light">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-icon"></span>
                                </button>
                              
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                  <ul class="navbar-nav mr-auto">
                                    <li class="nav-item ">
                                      <a class="nav-link " href="index.html">
                                        Home
                                        <span class="bordergradiant "></span>
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link " href="#">Services
                                          <span class="bordergradiant "></span>
                                      </a>
        
                                      <div class="container-fluid megamenu-container">
                                        <div class="container">
                                            <div class="row ">
                                                <div class="col-md-3 col-sm-6 col-12">
                                                    <img class="align-self-left megamenu-img" src="Images/megamenuweb-design.png">
                                                    <p class="footer-heading megamenu-heading">Web Design</p>
                                                    <ul class="footer-list">
                                                        <li><a href="service.html" class="footer-content megamenu-content">Web Design</a></li>
                                                        <li><a href="#" class="footer-content megamenu-content">Logo Design</a></li>
                                                        <li><a href="#" class="footer-content megamenu-content">Graphic Design</a></li>
                                                        <li><a href="#" class="footer-content megamenu-content">Mobile Apps Design</a></li>
                                                        <li><a href="#" class="footer-content megamenu-content">Landing Page Design</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-12">
                                                        <img class="align-self-left megamenu-img" src="Images/megamenuweb-development.png">
                                                        <p class="footer-heading megamenu-heading">Web development</p>
                                                        <ul class="footer-list">
                                                            <li><a href="#" class="footer-content megamenu-content">NET Development</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content">PHP Development</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content">E-commerce Integration</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content">API & Web Services</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content">Dedicated Resource</a></li>
                                                        </ul>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-12">
                                                        <img class="align-self-left megamenu-img" src="Images/megamenumobile-development.png">
                                                        <p class="footer-heading megamenu-heading">App development</p>
                                                        <ul class="footer-list">
                                                            <li><a href="#" class="footer-content megamenu-content">Iphone Ipad Development</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content">Android Development</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content">Blackberry Development</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content"> Windows App Development</a></li>
                                                        </ul>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-12">
                                                        <img class="align-self-left megamenu-img" src="Images/digital-marketing.png">
                                                        <p class="footer-heading megamenu-heading">Digital Marketing</p>
                                                        <ul class="footer-list">
                                                            <li><a href="#" class="footer-content megamenu-content">SEO</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content">PPC</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content"> Social Media Marketing</a></li>
                                                        
                                                        </ul>
                                                </div>
                                            </div><!-- ending of row -->
                                        </div>
                                    </div>
                                      
                                    </li>
                                  
                                    <li class="nav-item">
                                        <a class="nav-link " href="ourWork.html">Our Work
                                            <span class="bordergradiant "></span>
                                        </a>
                                        
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link " href="contactUs.html">Contact US
                                            <span class="bordergradiant "></span>
                                        </a>
                                        
                                      </li>
                                  </ul>
                                 
                                </div>
                              </nav>
                        </div>
                        <div class="col-lg-4 get-a-quote-section col-12 order-lg-2 order-3 d-flex flex-row justify-content-lg-end">
                            
                            <div class="d-flex flex-row flex-wrap flex-fill  justify-content-lg-end justify-content-start">
                              <img src="../Inventive Media/Images/call.png" alt="call" class="align-self-center">
                              <p class="call-txt">718-472-7804</p>
                            </div>
                            <div class="d-flex flex-row flex-fill justify-content-lg-start justify-content-end ">
                              <a class="get-quote" href="#">Get a Quote</a>
                            </div>
                              
                              
                      </div>
                    </div>
                </div><!-- ending of header-navigation-->
            </div><!-- ending of container-fluid-->

    <div class="contaienr-fluid servicer-header-container contactus-header">
        <div class="container">
            <div class="row">
                <div class="col-12 banner-info-col">
                        <div class="d-flex flex-column"> 
                                <h2 class="service-header-heading">Hire us.</h2>
                                <p class="contactus-subtitle">Let's get to work! Please answer a couple of short 
                                   <br>questions about you and your project.</p>
                           </div>  
                </div>
            </div>
         </div>
    </div><!-- ending of container-fluid-->
 
   <div class="container-fluid form-container">
       <div class="container">
           <div class="row">
               <div class="col-lg-6 col-12">
                <form>
                    <p class="section-heading">About you</p>
                    <div class="form-group contact-form-group">
                      
                            <input class="inputfield" type="text" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="inputlabel">Name</label>
                     
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-12">
                                <div class="form-group contact-form-group">
                      
                                        <input class="inputfield" type="text" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label class="inputlabel">Email Address</label>
                                 
                                </div>
                        </div>
                        <div class="col-sm-6 col-126">
                                <div class="form-group contact-form-group">
                      
                                        <input class="inputfield" type="text" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label class="inputlabel">Phone Number</label>
                                 
                                </div>
                        </div>
                    </div>
                    <div class="form-group contact-form-group">
                      
                            <input class="inputfield" type="text" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="inputlabel">Tell us about you</label>
                     
                    </div>
                    <p class="section-heading">About your project</p>
                    <div class="form-group contact-form-group">
                      
                            <input class="inputfield" type="text" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="inputlabel">Tell us about your project.</label>
                     
                    </div>
                    <div class="form-group contact-form-group">
                      
                            <input class="inputfield" type="text" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="inputlabel">What are your deadlines?</label>
                     
                    </div>
                    <p class="section-heading">What is your project type?</p>
                   
                    <div class="row project-type-row">
                        <div class="col-lg-4 col-6">
                        <div class="form-check contactus-checkbox">
                                <label class="checkbox-label">UI/UX Design
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                      </label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="form-check contactus-checkbox">
                                <label class="checkbox-label">iOS app
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                      </label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-6">
                            <div class="form-check contactus-checkbox">
                                    <label class="checkbox-label">Android app
                                            <input type="checkbox" >
                                            <span class="checkmark"></span>
                                          </label>
                                </div>
                                </div>
                                <div class="col-lg-4 col-6">
                                <div class="form-check contactus-checkbox pl-0">
                                        <label class="checkbox-label">Web
                                                <input type="checkbox" >
                                                <span class="checkmark"></span>
                                              </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-6">
                                    <div class="form-check contactus-checkbox">
                                            <label class="checkbox-label">IoT project
                                                    <input type="checkbox" >
                                                    <span class="checkmark"></span>
                                                  </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-6">
                                        <div class="form-check contactus-checkbox">
                                                <label class="checkbox-label">Other
                                                        <input type="checkbox" >
                                                        <span class="checkmark"></span>
                                                      </label>
                                            </div>
                                        </div>
                    </div>       
                    <p class="section-heading">What is your budget?</p>
                    <div class="d-flex flex-row custom-select" >
                   
                            <select>
                              <option value="0">Choose amount</option>
                              <option value="1">$5000-$4000</option>
                              <option value="2">$4000-$3000</option>
                              <option value="3">$2000-$1000</option>
                             
                            </select>
                    </div>
                    
                    <div class="d-flex flex-row attachment-section justify-content-center">
                            <img src="Images/attachment.png" class="align-self-center">
                            <p class="attachment-txt">Attach any files you feel would be useful</p>
                     
                    </div>
                    <div class="form-check contactus-checkbox term-checkbox">
                            <label class="checkbox-label term-label">I understand the information above will be stored only for business purposes. Check our <span><a href="#" class="orange-txt">Privacy Policy</a></span> for more info.
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                  </label>
                        </div>
                        
                            <a href="#" class="get-quote ml-0">Get a quote</a>

                  </form>
               </div>
               <div class="col-lg-6 col-12 map-col">
                    <div class="map-section d-flex flex-column align-items-center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3538.0132851769686!2d153.06985701505823!3d-27.53104638286525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915b1a5d3c6ee1%3A0x5e581b09b36d5a2e!2s2%2F24%20Lencol%20St%2C%20Mount%20Gravatt%20QLD%204122%2C%20Australia!5e0!3m2!1sen!2sin!4v1585046694525!5m2!1sen!2sin" width="100%" class="contact-form-iframe" height="320" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                           
                   
                    </div>
                    <div class="d-flex justify-content-center">
                    <div class="radian-container map-radian">
                        </div><!-- ending of radian-container-->
                    </div>
                    <div class="d-flex flex-column align-items-center ">
                        <div class="map-details">
                        <div class="d-flex flex-row contactus-detail-row">
                            <img src="Images/email_contactus.png" class="align-self-center">
                            <p class="detail-content  contactus-detail-content ">inventivemedia@gmail.com</p>
                        </div>
                        <div class="d-flex flex-row">
                                <img src="Images/phone_contactus.png" class="align-self-center">
                                <p class="detail-content contactus-detail-content ">718-472-7804</p>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
       </div>
   </div>

  
    
    <div class="container-fluid contact-us-container">
        <div class="container">
            
            <div class="radian-container contactus-gradian">
                </div><!-- ending of radian-container-->
        </div>
    </div>  
    <div class="container-fluid footer-contaienr">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <p class="footer-heading">UI/UX Design</p>
                    <ul class="footer-list">
                        <li><a href="#" class="footer-content">Web Design</a></li>
                        <li><a href="#" class="footer-content">Logo Design</a></li>
                        <li><a href="#" class="footer-content">Graphic Design</a></li>
                        <li><a href="#" class="footer-content">Mobile Apps Design</a></li>
                        <li><a href="#" class="footer-content">Landing Page Design</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                        <p class="footer-heading">Web development</p>
                        <ul class="footer-list">
                            <li><a href="#" class="footer-content">NET Development</a></li>
                            <li><a href="#" class="footer-content">PHP Development</a></li>
                            <li><a href="#" class="footer-content">E-commerce Integration</a></li>
                            <li><a href="#" class="footer-content">API & Web Services</a></li>
                            <li><a href="#" class="footer-content">Dedicated Resource</a></li>
                        </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                        <p class="footer-heading">App development</p>
                        <ul class="footer-list">
                            <li><a href="#" class="footer-content">Iphone Ipad Development</a></li>
                            <li><a href="#" class="footer-content">Android Development</a></li>
                            <li><a href="#" class="footer-content">Blackberry Development</a></li>
                            <li><a href="#" class="footer-content"> Windows App Development</a></li>
                        </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                        <p class="footer-heading">Digital Marketing</p>
                        <ul class="footer-list">
                            <li><a href="#" class="footer-content">SEO</a></li>
                            <li><a href="#" class="footer-content">PPC</a></li>
                            <li><a href="#" class="footer-content"> Social Media Marketing</a></li>
                          
                        </ul>
                </div>
            </div><!-- ending of row -->
            <div class="d-flex flex-row flex-wrap detail-row">
                <div class="d-flex flex-row">
                    <img src="Images/location.png" class="align-self-center">
                    <p class="detail-content align-self-center">3846 Reta Pines Apt. 949</p>
                </div> 
                <div class="d-flex flex-row detail-inner-row">
                        <img src="Images/email.png" class="align-self-center">
                        <p class="detail-content align-self-center">inventivemedia@gmail.com</p>
                    </div>   
                <div class="d-flex flex-row detail-inner-row">
                        <img src="Images/phone.png" class="align-self-center">
                        <p class="detail-content align-self-center">718-472-7804</p>
                    </div>                
            </div>

        </div>
    </div><!--ending of container-fluid -->
    <div class="container-fluid subfooter-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-12 order-lg-1 order-2">
                    <div class="d-flex flex-row flex-wrap justify-content-lg-start justify-content-center">
                        <div class="submenu d-flex flex-row flex-wrap justify-content-lg-start">
                        <img src="Images/inventive-footer-logo.png" class="align-self-center">
                        <ul class="subfooter-list align-self-center">
                            <li><a href="service.html">Service</a></li>
                            <li>::</li>
                            <li><a href="ourWork.html">Our Work</a></li>
                            <li>::</li>
                            <li><a href="contactUs.html">Contact Us</a></li>
                        </ul>
                        </div>
                        <p class="subfooter-content align-self-center">
                                Copyright 2018 © web design inventive media 
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-12 order-lg-2 order-1">
                    <div class="d-flex flex-row flex-wrap justify-content-lg-end justify-content-center">
                        <a href="#"><img src="Images/facebook.png" class="align-self-center socialmedia-icon"></a>
                        <a href="#"><img src="Images/instagram.png" class="align-self-center socialmedia-icon"></a>
                        <a href="#"><img src="Images/twitter.png" class="align-self-center socialmedia-icon"></a>
                        <a href="#"><img src="Images/linked-in.png" class="align-self-center socialmedia-icon"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="dist/bootstrap/js/bootstrap.min.js"></script>
<script src="js/selectinput.js"></script>
<script src="js/scripts.js"></script>
</html>