<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Homepage</title>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,500i,700,900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="dist/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="dist/bxslider/jquery.bxslider.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="container header-navigation">
				<div class="row">
					<div
						class="col-lg-3 col-6 order-1 d-flex align-items-center justify-content-start"
					>
						<a href="index.html"
							><img
								src="./Images/inventive_media_logo.png"
								alt="logo"
								height="64"
								width="153"
								class="logoImg align-self-center"
						/></a>
					</div>
					<div
						class="col-lg-5 col-12 navbar-wrapper order-2 d-flex justify-content-end"
					>
						<nav class="navbar navbar-expand-lg navbar-light">
							<button
								class="navbar-toggler"
								type="button"
								data-toggle="collapse"
								data-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent"
								aria-expanded="false"
								aria-label="Toggle navigation"
							>
								<span class="navbar-toggler-icon"></span>
							</button>

							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav mr-auto">
									<li class="nav-item">
										<a class="nav-link" href="index.html">
											Home
											<span class="bordergradiant"></span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#"
											>Services
											<span class="bordergradiant"></span>
										</a>

										<div class="container-fluid megamenu-container">
											<div class="container">
												<div class="row">
													<div class="col-md-3 col-sm-6 col-12">
														<img
															class="align-self-left megamenu-img"
															src="Images/megamenuweb-design.png"
														/>
														<p class="footer-heading megamenu-heading">
															Web Design
														</p>
														<ul class="footer-list">
															<li>
																<a
																	href="service.html"
																	class="footer-content megamenu-content"
																	>Web Design</a
																>
															</li>
															<li>
																<a
																	href="#"
																	class="footer-content megamenu-content"
																	>Logo Design</a
																>
															</li>
															<li>
																<a
																	href="#"
																	class="footer-content megamenu-content"
																	>Graphic Design</a
																>
															</li>
															<li>
																<a
																	href="#"
																	class="footer-content megamenu-content"
																	>Mobile Apps Design</a
																>
															</li>
															<li>
																<a
																	href="#"
																	class="footer-content megamenu-content"
																	>Landing Page Design</a
																>
															</li>
														</ul>
													</div>
													<div class="col-md-3 col-sm-6 col-12">
														<img
															class="align-self-left megamenu-img"
															src="Images/megamenuweb-development.png"
														/>
														<p class="footer-heading megamenu-heading">
															Web development
														</p>
														<ul class="footer-list">
															<li>
																<a
																	href="#"
																	class="footer-content megamenu-content"
																	>NET Development</a
																>
															</li>
															<li>
																<a
																	href="#"
																	class="footer-content megamenu-content"
																	>PHP Development</a
																>
															</li>
															<li>
																<a
																	href="#"
																	class="footer-content megamenu-content"
																	>E-commerce Integration</a
																>
															</li>
															<li>
																<a
																	href="#"
																	class="footer-content megamenu-content"
																	>API & Web Services</a
																>
															</li>
															<li>
																<a
																	href="#"
																	class="footer-content megamenu-content"
																	>Dedicated Resource</a
																>
															</li>
														</ul>
													</div>
													<div class="col-md-3 col-sm-6 col-12">
														<img
															class="align-self-left megamenu-img"
															src="Images/megamenumobile-development.png"
														/>
														<p class="footer-heading megamenu-heading">
															App development
														</p>
														<ul class="footer-list">
															<li>
																<a
																	href="#"
																	class="footer-content megamenu-content"
																	>Iphone Ipad Development</a
																>
															</li>
															<li>
																<a
																	href="#"
																	class="footer-content megamenu-content"
																	>Android Development</a
																>
															</li>
															<li>
																<a
																	href="#"
																	class="footer-content megamenu-content"
																	>Blackberry Development</a
																>
															</li>
															<li>
																<a
																	href="#"
																	class="footer-content megamenu-content"
																>
																	Windows App Development</a
																>
															</li>
														</ul>
													</div>
													<div class="col-md-3 col-sm-6 col-12">
														<img
															class="align-self-left megamenu-img"
															src="Images/digital-marketing.png"
														/>
														<p class="footer-heading megamenu-heading">
															Digital Marketing
														</p>
														<ul class="footer-list">
															<li>
																<a
																	href="#"
																	class="footer-content megamenu-content"
																	>SEO</a
																>
															</li>
															<li>
																<a
																	href="#"
																	class="footer-content megamenu-content"
																	>PPC</a
																>
															</li>
															<li>
																<a
																	href="#"
																	class="footer-content megamenu-content"
																>
																	Social Media Marketing</a
																>
															</li>
														</ul>
													</div>
												</div>
												<!-- ending of row -->
											</div>
										</div>
									</li>

									<li class="nav-item">
										<a class="nav-link" href="ourWork.html"
											>Our Work
											<span class="bordergradiant"></span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="contactUs.html"
											>Contact US
											<span class="bordergradiant"></span>
										</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
					<div
						class="col-lg-4 get-a-quote-section col-12 order-lg-2 order-3 d-flex flex-row justify-content-lg-end"
					>
						<div
							class="d-flex flex-row flex-wrap flex-fill justify-content-lg-end justify-content-start"
						>
							<img
								src="./Images/call.png"
								alt="call"
								class="align-self-center"
							/>
							<p class="call-txt">718-472-7804</p>
						</div>
						<div
							class="d-flex flex-row flex-fill justify-content-lg-start justify-content-end"
						>
							<a class="get-quote" href="#">Get a Quote</a>
						</div>
					</div>
				</div>
			</div>
			<!-- ending of header-navigation-->
		</div>
		<!-- ending of container-fluid-->

		<div class="container-fluid header-container">
			<div class="container">
				<div class="grayscale"></div>
				<div class="row">
					<div class="col-12">
						<div class="inner-header">
							<h2 class="header-heading">
								We bring Efficiency to your business<span class="dot-color"
									>.</span
								>
							</h2>
							<p class="header-subtitle">
								We make websites, design brands, and develop systems for
								artists, nonprofits, and creative businesses.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ending of header-container-->

		<div class="container-fluid radian-container"></div>
		<!-- ending of radian-container-->

		<div class="container-fluid intro-container">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h2 class="common-heading text-center">
							We’re inventive media<span class="dot-color">.</span>
						</h2>
						<p class="intro-content">
							We provide productive and efficient solutions that can help your
							organization in improving business processes with minimum hassles
							and capital outlays.
						</p>
						<a href="#" class="readmore"
							><p class="text-center">READ MORE</p></a
						>
					</div>
				</div>
			</div>
		</div>
		<!-- ending of intro-container-->

		<div class="container-fluid service-container">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h2 class="common-heading">
							What we do<span class="dot-color">.</span>
						</h2>
					</div>
				</div>
				<div
					class="d-flex flex-row flex-wrap justify-content-md-left justify-content-center service-row"
				>
					<div class="d-flex flex-column service-box">
						<img src="Images/web-design.png" class="align-self-start" />
						<p class="service-heading">Web Design</p>
						<p class="service-content">
							A website with a clear, compelling web design and engaging content
							goes a long way in adding credibility…
						</p>
						<a href="#" class="readmore service-readmore"><p>READ MORE</p></a>
					</div>
					<div class="d-flex flex-column service-box">
						<img src="Images/web-development.png" class="align-self-start" />
						<p class="service-heading">Web Development</p>
						<p class="service-content">
							Web development is a symbol for any business and having a portal
							developed with completeness adds a lot of…
						</p>
						<a href="#" class="readmore service-readmore"><p>READ MORE</p></a>
					</div>
					<div class="d-flex flex-column service-box mr-lg-0">
						<img src="Images/app-development.png" class="align-self-start" />
						<p class="service-heading">App Development</p>
						<p class="service-content">
							Over the years, mobile apps have grown to gain even more
							importance than a company website. One reason...
						</p>
						<a href="#" class="readmore service-readmore"><p>READ MORE</p></a>
					</div>
					<div class="d-flex flex-column service-box">
						<img src="Images/internet-marketing.png" class="align-self-start" />
						<p class="service-heading">Internet Marketingn</p>
						<p class="service-content">
							There might be customers looking for the exact solutions you
							offer, but the question – are you and your services…
						</p>
						<a href="#" class="readmore service-readmore"><p>READ MORE</p></a>
					</div>
					<div class="d-flex flex-column service-box">
						<img
							src="Images/dedicated-resources.png"
							class="align-self-start"
						/>
						<p class="service-heading">Dedicated Resources</p>
						<p class="service-content">
							Dedicated resource means having a person working on your project
							alone. You get to earmark or assign...
						</p>
						<a href="#" class="readmore service-readmore"><p>READ MORE</p></a>
					</div>
					<div class="d-flex flex-column service-box mr-lg-0">
						<img src="Images/api-web-services.png" class="align-self-start" />
						<p class="service-heading">API & Web Services</p>
						<p class="service-content">
							APIs are Application Program Interface and they are responsible in
							deciding how software components…
						</p>
						<a href="#" class="readmore service-readmore"><p>READ MORE</p></a>
					</div>
				</div>
			</div>
		</div>
		<!-- ending of service-container-->

		<div class="container-fluid whychooseus-container">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h2 class="common-heading text-left">
							Why Choose Us<span class="dot-color">.</span>
						</h2>
					</div>
				</div>
				<div class="d-flex flex-row flex-wrap whyus-row">
					<div class="flex-column whyus-box">
						<img src="Images/check-bullet.png" class="align-self-start" />
						<p class="service-heading">Full end-to-end service</p>
						<p class="service-content">
							Be open, communicative and create an environment of trust; Always
							stick to your ethics
						</p>
					</div>
					<div class="flex-column whyus-box">
						<img src="Images/check-bullet.png" class="align-self-start" />
						<p class="service-heading">Full end-to-end service</p>
						<p class="service-content">
							Be open, communicative and create an environment of trust; Always
							stick to your ethics
						</p>
					</div>
					<div class="flex-column whyus-box">
						<img src="Images/check-bullet.png" class="align-self-start" />
						<p class="service-heading">Full end-to-end service</p>
						<p class="service-content">
							Be open, communicative and create an environment of trust; Always
							stick to your ethics
						</p>
					</div>
					<div class="flex-column whyus-box">
						<img src="Images/check-bullet.png" class="align-self-start" />
						<p class="service-heading">Full end-to-end service</p>
						<p class="service-content">
							Be open, communicative and create an environment of trust; Always
							stick to your ethics
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- ending of whychooseus-container -->
		<div class="container-fluid technologies-container">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-12">
						<h2 class="common-heading tech-heading align-self-center">
							Technologies expertise<span class="dot-color">.</span>
						</h2>
					</div>
					<div class="col-lg-6 col-12 mt-lg-0 mt-5">
						<div
							class="d-flex flex-row flex-wrap justify-content-lg-start justify-content-center"
						>
							<div class="technology-box">
								<img src="Images/php.png" class="align-self-center" />
							</div>

							<div class="technology-box">
								<img src="Images/elasticsearch.png" class="align-self-center" />
							</div>
							<div class="technology-box">
								<img src="Images/react.png" class="align-self-center" />
							</div>

							<div class="technology-box">
								<img src="Images/aws.png" class="align-self-center" />
							</div>

							<div class="technology-box">
								<img src="Images/flutter.png" class="align-self-center" />
							</div>

							<div class="technology-box">
								<img src="Images/my-sql.png" class="align-self-center" />
							</div>

							<div class="technology-box">
								<img src="Images/microsoft-net.png" class="align-self-center" />
							</div>

							<div class="technology-box">
								<img src="Images/nodejs-1.png" class="align-self-center" />
							</div>

							<div class="technology-box">
								<img src="Images/angular.png" class="align-self-center" />
							</div>

							<div class="technology-box">
								<img src="Images/ionic.png" class="align-self-center" />
							</div>

							<div class="technology-box">
								<img src="Images/python.png" class="align-self-center" />
							</div>

							<div class="technology-box">
								<img src="Images/postgresql.png" class="align-self-center" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ending of technologies-container-->

		<div class="container-fluid testimonial-container">
			<div class="container testimonial-innercontainer">
				<div class="row">
					<div class="offset-lg-2 col-lg-7 col-12">
						<div class="testimonials">
							<div>
								<p class="testimonial-content">
									1. They delivered 100% satisfaction. They did it faster than
									they promised and met exactly our expectations. Comunication
									perfect. Result perfect. We will count on them for new
									projects.
								</p>
							</div>
							<div>
								<p class="testimonial-content">
									2. They delivered 100% satisfaction. They did it faster than
									they promised and met exactly our expectations. Comunication
									perfect. Result perfect. We will count on them for new
									projects.
								</p>
							</div>
							<div>
								<p class="testimonial-content">
									3. They delivered 100% satisfaction. They did it faster than
									they promised and met exactly our expectations. Comunication
									perfect. Result perfect. We will count on them for new
									projects.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row client-name-row">
					<div
						class="offset-lg-2 col-lg-10 testimonial-persons col-12 d-flex flex-row"
					>
						<a href="#" class="active">
							<div class="d-flex flex-column person-box">
								<div class="d-flex flex-row">
									<img class="align-self-center" src="Images/avtar.png" />
									<div
										class="d-flex flex-column client-detail justify-content-center"
									>
										<p class="client-name">Sarah Wallace</p>
										<p class="client-designation">Google CEO</p>
									</div>
								</div>

								<span class="bordergradiant"></span>
							</div>
						</a>

						<a href="#" class="">
							<div class="d-flex flex-column person-box">
								<div class="d-flex flex-row">
									<img class="align-self-center" src="Images/avtar.png" />
									<div
										class="d-flex flex-column client-detail justify-content-center"
									>
										<p class="client-name">Dominic Underwood</p>
										<p class="client-designation">Head of Wordpress</p>
									</div>
								</div>

								<span class="bordergradiant"></span>
							</div>
						</a>

						<a href="#" class="">
							<div class="d-flex flex-column person-box">
								<div class="d-flex flex-row">
									<img class="align-self-center" src="Images/avtar.png" />
									<div
										class="d-flex flex-column client-detail justify-content-center"
									>
										<p class="client-name">Eric Beck</p>
										<p class="client-designation">Design head of Invis</p>
									</div>
								</div>

								<span class="bordergradiant"></span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- ending of testimonial-container-->

		<div class="container-fluid contact-us-container">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-12">
						<h2
							class="common-heading contactus-heading text-lg-left text-center"
						>
							Let's craft brilliance together!
						</h2>
					</div>
					<div
						class="col-lg-5 col-12 d-flex flex-row justify-content-lg-end justify-content-center align-self-center"
					>
						<a class="get-quote" href="contactUs.html">Contact us</a>
					</div>
				</div>
				<div class="radian-container contactus-gradian"></div>
				<!-- ending of radian-container-->
			</div>
		</div>
		<div class="container-fluid footer-contaienr">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-12">
						<p class="footer-heading">UI/UX Design</p>
						<ul class="footer-list">
							<li><a href="#" class="footer-content">Web Design</a></li>
							<li><a href="#" class="footer-content">Logo Design</a></li>
							<li><a href="#" class="footer-content">Graphic Design</a></li>
							<li><a href="#" class="footer-content">Mobile Apps Design</a></li>
							<li>
								<a href="#" class="footer-content">Landing Page Design</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 col-12">
						<p class="footer-heading">Web development</p>
						<ul class="footer-list">
							<li><a href="#" class="footer-content">NET Development</a></li>
							<li><a href="#" class="footer-content">PHP Development</a></li>
							<li>
								<a href="#" class="footer-content">E-commerce Integration</a>
							</li>
							<li><a href="#" class="footer-content">API & Web Services</a></li>
							<li><a href="#" class="footer-content">Dedicated Resource</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 col-12">
						<p class="footer-heading">App development</p>
						<ul class="footer-list">
							<li>
								<a href="#" class="footer-content">Iphone Ipad Development</a>
							</li>
							<li>
								<a href="#" class="footer-content">Android Development</a>
							</li>
							<li>
								<a href="#" class="footer-content">Blackberry Development</a>
							</li>
							<li>
								<a href="#" class="footer-content"> Windows App Development</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 col-12">
						<p class="footer-heading">Digital Marketing</p>
						<ul class="footer-list">
							<li><a href="#" class="footer-content">SEO</a></li>
							<li><a href="#" class="footer-content">PPC</a></li>
							<li>
								<a href="#" class="footer-content"> Social Media Marketing</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- ending of row -->
				<div class="d-flex flex-row flex-wrap detail-row">
					<div class="d-flex flex-row">
						<img src="Images/location.png" class="align-self-center" />
						<p class="detail-content align-self-center">
							3846 Reta Pines Apt. 949
						</p>
					</div>
					<div class="d-flex flex-row detail-inner-row">
						<img src="Images/email.png" class="align-self-center" />
						<p class="detail-content align-self-center">
							inventivemedia@gmail.com
						</p>
					</div>
					<div class="d-flex flex-row detail-inner-row">
						<img src="Images/phone.png" class="align-self-center" />
						<p class="detail-content align-self-center">718-472-7804</p>
					</div>
				</div>
			</div>
		</div>
		<!--ending of container-fluid -->
		<div class="container-fluid subfooter-container">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-12 order-lg-1 order-2">
						<div
							class="d-flex flex-row flex-wrap justify-content-lg-start justify-content-center"
						>
							<div
								class="submenu d-flex flex-row flex-wrap justify-content-lg-start"
							>
								<img
									src="Images/inventive-footer-logo.png"
									class="align-self-center"
								/>
								<ul class="subfooter-list align-self-center">
									<li><a href="service.html">Service</a></li>
									<li>::</li>
									<li><a href="ourWork.html">Our Work</a></li>
									<li>::</li>
									<li><a href="contactUs.html">Contact Us</a></li>
								</ul>
							</div>
							<p class="subfooter-content align-self-center">
								Copyright 2018 © web design inventive media
							</p>
						</div>
					</div>
					<div class="col-lg-5 col-12 order-lg-2 order-1">
						<div
							class="d-flex flex-row flex-wrap justify-content-lg-end justify-content-center"
						>
							<a href="#"
								><img
									src="Images/facebook.png"
									class="align-self-center socialmedia-icon"
							/></a>
							<a href="#"
								><img
									src="Images/instagram.png"
									class="align-self-center socialmedia-icon"
							/></a>
							<a href="#"
								><img
									src="Images/twitter.png"
									class="align-self-center socialmedia-icon"
							/></a>
							<a href="#"
								><img
									src="Images/linked-in.png"
									class="align-self-center socialmedia-icon"
							/></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="dist/bootstrap/js/bootstrap.min.js"></script>
	<script src="dist/bxslider/jquery.bxslider.min.js"></script>
	<script src="js/scripts.js"></script>
</html>
