<!DOCTYPE html>
<html lang="en">
<head>
    <title>Our Work </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,500i,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="dist/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
        <div class="container-fluid">
                <div class="container header-navigation">
                    <div class="row">
                        <div class="col-lg-3 col-6  order-1 d-flex align-items-center justify-content-start ">
                            <a href="index.html"><img src="../Inventive Media/Images/inventive_media_logo.png" alt="logo" height="64" width="153" class="logoImg"></a>
                        </div>
                        <div class="col-lg-5 col-12 navbar-wrapper order-2 d-flex justify-content-end">
                            
                          <nav class="navbar navbar-expand-lg navbar-light">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-icon"></span>
                                </button>
                              
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                  <ul class="navbar-nav mr-auto">
                                    <li class="nav-item ">
                                      <a class="nav-link " href="index.html">
                                        Home
                                        <span class="bordergradiant "></span>
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link " href="#">Services
                                          <span class="bordergradiant "></span>
                                      </a>
        
                                      <div class="container-fluid megamenu-container">
                                        <div class="container">
                                            <div class="row ">
                                                <div class="col-md-3 col-sm-6 col-12">
                                                    <img class="align-self-left megamenu-img" src="Images/megamenuweb-design.png">
                                                    <p class="footer-heading megamenu-heading">Web Design</p>
                                                    <ul class="footer-list">
                                                        <li><a href="service.html" class="footer-content megamenu-content">Web Design</a></li>
                                                        <li><a href="#" class="footer-content megamenu-content">Logo Design</a></li>
                                                        <li><a href="#" class="footer-content megamenu-content">Graphic Design</a></li>
                                                        <li><a href="#" class="footer-content megamenu-content">Mobile Apps Design</a></li>
                                                        <li><a href="#" class="footer-content megamenu-content">Landing Page Design</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-12">
                                                        <img class="align-self-left megamenu-img" src="Images/megamenuweb-development.png">
                                                        <p class="footer-heading megamenu-heading">Web development</p>
                                                        <ul class="footer-list">
                                                            <li><a href="#" class="footer-content megamenu-content">NET Development</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content">PHP Development</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content">E-commerce Integration</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content">API & Web Services</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content">Dedicated Resource</a></li>
                                                        </ul>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-12">
                                                        <img class="align-self-left megamenu-img" src="Images/megamenumobile-development.png">
                                                        <p class="footer-heading megamenu-heading">App development</p>
                                                        <ul class="footer-list">
                                                            <li><a href="#" class="footer-content megamenu-content">Iphone Ipad Development</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content">Android Development</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content">Blackberry Development</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content"> Windows App Development</a></li>
                                                        </ul>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-12">
                                                        <img class="align-self-left megamenu-img" src="Images/digital-marketing.png">
                                                        <p class="footer-heading megamenu-heading">Digital Marketing</p>
                                                        <ul class="footer-list">
                                                            <li><a href="#" class="footer-content megamenu-content">SEO</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content">PPC</a></li>
                                                            <li><a href="#" class="footer-content megamenu-content"> Social Media Marketing</a></li>
                                                        
                                                        </ul>
                                                </div>
                                            </div><!-- ending of row -->
                                        </div>
                                    </div>
                                      
                                    </li>
                                  
                                    <li class="nav-item">
                                        <a class="nav-link " href="ourWork.html">Our Work
                                            <span class="bordergradiant "></span>
                                        </a>
                                        
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link " href="contactUs.html">Contact US
                                            <span class="bordergradiant "></span>
                                        </a>
                                        
                                      </li>
                                  </ul>
                                 
                                </div>
                              </nav>
                        </div>
                        <div class="col-lg-4 get-a-quote-section col-12 order-lg-2 order-3 d-flex flex-row justify-content-lg-end">
                            
                            <div class="d-flex flex-row flex-wrap flex-fill  justify-content-lg-end justify-content-start">
                              <img src="../Inventive Media/Images/call.png" alt="call" class="align-self-center">
                              <p class="call-txt">718-472-7804</p>
                            </div>
                            <div class="d-flex flex-row flex-fill justify-content-lg-start justify-content-end ">
                              <a class="get-quote" href="#">Get a Quote</a>
                            </div>
                              
                              
                      </div>
                    </div>
                </div><!-- ending of header-navigation-->
            </div><!-- ending of container-fluid-->

    <div class="contaienr-fluid servicer-header-container contactus-header">
        <div class="container">
            <div class="row">
                <div class="col-12 banner-info-col">
                        <div class="d-flex flex-column"> 
                                <h2 class="service-header-heading">Our Work.</h2>
                                <p class="contactus-subtitle ourwork-subtitle">We design and develop software for venture-backed startups, growing businesses, and established brands.</p>
                           </div>  
                </div>
            </div>

         </div>
    </div><!-- ending of container-fluid-->
 
  
  <div class="container-fluid projects-container">
      <div class="container">
        <div class="d-flex flex-row flex-wrap  justify-content-center">
            <div class="d-flex flex-column project-box negricase-proj">
                 <h2 class="project-heading">Negricases</h2> 
                 <p class="project-detail">Expand to become a trustworthy and highly recognised name in the music industry.</p>   
                 <img class=" align-self-center project-img " src="Images/negricases-thumb.png">
             </div>
             <div class="d-flex flex-column project-box stylewithcandy-proj">
                <h2 class="project-heading">Style With Cindy</h2> 
                <p class="project-detail">Australia’s foremost personal stylists and makeover expert</p>   
                <img class=" align-self-center project-img " src="Images/style-with-cindy-thumb.png">
            </div>
             <div class="d-flex flex-column project-box styling-proj">
                 <h2 class="project-heading">Professional Styling Academy</h2> 
                 <p class="project-detail">Professional styling academy provides professional style courses to people.</p>   
                 <img class=" align-self-center project-img " src="Images/professional-styling-academy-thumb.png">
             </div>
             <div class="d-flex flex-column project-box hourstyle-proj">
                <h2 class="project-heading">HourStyle</h2> 
                <p class="project-detail">A Singapore registered innovative wall 
                    clock company</p>   
                <img class=" align-self-center project-img " src="Images/professional-styling-academy-thumb.png">
            </div>
            <div class="d-flex flex-column project-box socially-proj">
                <h2 class="project-heading">Socially Smitten</h2> 
                <p class="project-detail">We grow businesses through custom web design and digital marketing plans.</p>   
                <img class=" align-self-center project-img " src="Images/socially-smitten-thumb.png">
            </div>
          
            <div class="d-flex flex-column project-box project-box2 canvastco-proj">
                <h2 class="project-heading">Canvastco</h2> 
                <p class="project-detail">We make Kick-Ass Dateless Planners for 
                    Boss-Women</p>   
                <img class="align-self-center project-img " src="Images/canvastco-thumb.png">
            </div>
            <div class="d-flex flex-column project-box helihobby-proj ">
                <h2 class="project-heading">Helihobby</h2> 
                <p class="project-detail">We grow businesses through custom web design and digital marketing plans.</p>   
                <img class="align-self-center project-img " src="Images/helihobby-thumb.png">
            </div>
            <div class="d-flex flex-column project-box sunwatersolar-proj">
                <h2 class="project-heading">SunWater Solar</h2> 
                <p class="project-detail">A simple, clean, easy to use solution delivering high performance for low variable occupancy.</p>   
                <img class="align-self-center project-img " src="Images/sun-water-solar-thumb.png">
            </div>
            <div class="d-flex flex-column project-box rimacinstallations-proj">
                <h2 class="project-heading">Rimacinstallations</h2> 
                <p class="project-detail">Rimac Storage Systems is a Queensland based, privately owned company</p>   
                <img class="align-self-center project-img " src="Images/rimacinstallations-thumb.png">
            </div>
        </div>
      </div>
  </div>

    
  <div class="container-fluid contact-us-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12">
                <h2 class="common-heading contactus-heading text-lg-left text-center">Let's craft 
                        brilliance together!</h2>
            </div>
            <div class="col-lg-5 col-12 d-flex  flex-row justify-content-lg-end justify-content-center align-self-center">
                    <a class="get-quote" href="contactUs.html">Contact us</a>
            </div>

        </div>
        <div class="radian-container contactus-gradian">
            </div><!-- ending of radian-container-->
    </div>
</div>  
    <div class="container-fluid footer-contaienr">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <p class="footer-heading">UI/UX Design</p>
                    <ul class="footer-list">
                        <li><a href="#" class="footer-content">Web Design</a></li>
                        <li><a href="#" class="footer-content">Logo Design</a></li>
                        <li><a href="#" class="footer-content">Graphic Design</a></li>
                        <li><a href="#" class="footer-content">Mobile Apps Design</a></li>
                        <li><a href="#" class="footer-content">Landing Page Design</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                        <p class="footer-heading">Web development</p>
                        <ul class="footer-list">
                            <li><a href="#" class="footer-content">NET Development</a></li>
                            <li><a href="#" class="footer-content">PHP Development</a></li>
                            <li><a href="#" class="footer-content">E-commerce Integration</a></li>
                            <li><a href="#" class="footer-content">API & Web Services</a></li>
                            <li><a href="#" class="footer-content">Dedicated Resource</a></li>
                        </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                        <p class="footer-heading">App development</p>
                        <ul class="footer-list">
                            <li><a href="#" class="footer-content">Iphone Ipad Development</a></li>
                            <li><a href="#" class="footer-content">Android Development</a></li>
                            <li><a href="#" class="footer-content">Blackberry Development</a></li>
                            <li><a href="#" class="footer-content"> Windows App Development</a></li>
                        </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                        <p class="footer-heading">Digital Marketing</p>
                        <ul class="footer-list">
                            <li><a href="#" class="footer-content">SEO</a></li>
                            <li><a href="#" class="footer-content">PPC</a></li>
                            <li><a href="#" class="footer-content"> Social Media Marketing</a></li>
                          
                        </ul>
                </div>
            </div><!-- ending of row -->
            <div class="d-flex flex-row flex-wrap detail-row">
                <div class="d-flex flex-row">
                    <img src="Images/location.png" class="align-self-center">
                    <p class="detail-content align-self-center">3846 Reta Pines Apt. 949</p>
                </div> 
                <div class="d-flex flex-row detail-inner-row">
                        <img src="Images/email.png" class="align-self-center">
                        <p class="detail-content align-self-center">inventivemedia@gmail.com</p>
                    </div>   
                <div class="d-flex flex-row detail-inner-row">
                        <img src="Images/phone.png" class="align-self-center">
                        <p class="detail-content align-self-center">718-472-7804</p>
                    </div>                
            </div>

        </div>
    </div><!--ending of container-fluid -->
    <div class="container-fluid subfooter-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-12 order-lg-1 order-2">
                    <div class="d-flex flex-row flex-wrap justify-content-lg-start justify-content-center">
                        <div class="submenu d-flex flex-row flex-wrap justify-content-lg-start">
                        <img src="Images/inventive-footer-logo.png" class="align-self-center">
                        <ul class="subfooter-list align-self-center">
                            <li><a href="service.html">Service</a></li>
                            <li>::</li>
                            <li><a href="ourWork.html">Our Work</a></li>
                            <li>::</li>
                            <li><a href="contactUs.html">Contact Us</a></li>
                        </ul>
                        </div>
                        <p class="subfooter-content align-self-center">
                                Copyright 2018 © web design inventive media 
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-12 order-lg-2 order-1">
                    <div class="d-flex flex-row flex-wrap justify-content-lg-end justify-content-center">
                        <a href="#"><img src="Images/facebook.png" class="align-self-center socialmedia-icon"></a>
                        <a href="#"><img src="Images/instagram.png" class="align-self-center socialmedia-icon"></a>
                        <a href="#"><img src="Images/twitter.png" class="align-self-center socialmedia-icon"></a>
                        <a href="#"><img src="Images/linked-in.png" class="align-self-center socialmedia-icon"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="dist/bootstrap/js/bootstrap.min.js"></script>
<script src="js/selectinput.js"></script>
<script src="js/scripts.js"></script>
</html>